
@{
    ViewBag.Title = "Accueil";
}

    <body>
        


        <div class="jumbotron">

            <h1>TP2 Movies</h1>
            <p class="lead">
                Bienvenue sur TP2 Movies !
            </p>
            <p>
                Veuillez vous identifier
            </p>





            <div class="login-form" style="margin-top:50px;">
                <form>
                    <h2 class="text-center">Se connecter</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" required="required" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="required" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>


                </form>
            </div>

            @{
                Html.BeginForm("Login", "Home", FormMethod.Post);
            }

            <p>username: @Html.TextBox("username")</p>
            <p>password: @Html.TextBox("password")</p>
            <input type="submit" value="submit"/>

        </div>


    </body>

