
@{
    ViewBag.Title = "Accueil";
}

<body>



    <div class="jumbotron ">
        <div class="container">

            <h1>TP2 Movies</h1>
            <p class="lead">Bienvenue sur TP2 Movies !</p>
            <p>Veuillez vous identifier</p>

            @{
                Html.BeginForm("Login", "Home", FormMethod.Post);
            }
            <div class="form-group">
                @Html.TextBox("username", null, new { @class = "form-control", placeholder = "Username" , required = "true"})
            </div>
            <div class="form-group">
                @Html.Password("password", null, new { @class = "form-control", placeholder = "Password" , required = "true"})
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>

        </div>
    </div>


</body>

