<div class="jumbotron">

    <h1 class="lead">
        Ma Liste
    </h1>
    @if (ViewBag.maListe != null)
    {
        foreach (var film in ViewBag.maListe)
        {
            <div>
                <h3> @film.Nom </h3>
                <a href="@film.Id">
                <img src="~/Content/@film.Image" alt="@film.Nom">
                </a>
            </div>
        }
    }
</div>
